.order-form-container {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkowanie zawartości */
  font-size: 18px; /* Increased base font size */
}

.meals-table {
  width: auto;
  margin: 0 auto;
  border-collapse: collapse;
  max-width: 99%;
  overflow-x: auto;
}

.meals-table th,
.meals-table td {
  border: 1px solid #ffffff;
  padding: 10px 14px; /* Increased padding */
  font-size: 1.1em; /* Increased font size */
}

.meals-table th {
  background-color: #000000;
  color: #ffffff;
}

.meals-table td {
  text-align: center;
}

.meals-table-container {
  overflow-x: auto;
  padding: 10px;
}

.error {
  color: red;
}
