.user-profile-container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.orders-table {
    width: auto;
    margin: 0 auto;
    border-collapse: collapse; 
    margin-top: 3%;
    max-width: 99%;
    overflow-x: auto;
}

.orders-table th, .orders-table td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: center;
}

.orders-table th {
    background-color: #000000;
    color: #ffffff;
}

.cancel-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
}

.pagination-controls button {
    margin: 5px;
    padding: 5px 10px;
    
}

.pagination-controls button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination-controls {
    overflow-x: auto;
    padding: 10px;
    margin-top: 1%;
}
